# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [5]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 2.5

print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

#Short-hand version
result += 2
print(result)

7.4
9.4

##### Subtraction

In [13]:
result_diff = 5-2
print(result_diff)

#Short-hand Version
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [16]:
result_mul = num1*num2
print(result_mul)

result_mul *= 3
print(result_mul)

10.8
32.400000000000006

##### Division

In [17]:
result_division = num2/num1
print(result_division)

result_division /= 2
print(result_division)

2.7
1.35

##### Floor Division

In [19]:
result_floor = num2 // num1
print(result_floor)

#shorthand

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [25]:
result_mod = 100 % 30
print(result_mod)

#short
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [27]:
square = 5 ** 2
print(square)

#short
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [28]:
name = "kat"
print(name)

kat

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("This is my first name: ", name)

print("Full name= ", name, end= ' Basco')

This is my first name:  kat
Full name=  kat Basco

##### String Concatenation

In [40]:
first_name= 'John'
last_name= 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

#shorthand
full_name += ' Jr'
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [42]:
number = '32'
change_type_num = int(number)
change_type_num += 5
print(change_type_num)
print(number)

37
32

##### input()

In [46]:
# input() will ALWAYS return a string!!! All the timeeee

# name = input('What is your name? ')
# print(name)

age = int(input('How old are you? '))
new_age = age + 1
print(new_age)

How old are you?  12

13

##### format()

In [49]:
# age = input('What is your age? ' )
# name = input('What is your name? ')

# result_string = 'Your name is {}, and you are {} years old'.format(name, age)
# print(result_string)

age = 88
name = 'Kat'

result_string = 'Your name is {}, and you are {} years old'.format(name, age)
print(result_string)

result_again = f"{age} is a great time in life!"

Your name is Kat, and you are 88 years old

##### Old Way (python 2)

In [50]:
result_string2 = 'You are %s and you look great for you age!' %age
print(result_string2)

You are 88 and you look great for you age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [52]:
color = input('What color is your car? ')
year = input('What year is your car made? ')
make = input('What make is it? ')
model = input('What model is it? ')

result_string = 'My car is {}, the year is {}, the make is {}, the model is a {}'.format(color, year, make, model)
print(result_string)

What color is your car?  white
What year is your car made?  2019
What make is it?  toyota
What model is it?  camry

My car is white, the year is 2019, the make is toyota, the model is a camry

### If Statements

In [3]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not equal(!=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

if num1 == num2:
    print("This is equal")
else:
    print("Not equal")
    
if num2 > num1:
    print ("Num 2 is greater")
elif num2 < num1:
    print ("Num 2 is less")
else:
    print("They are equal")

This is equal
They are equal

##### 'is' keyword

In [6]:
# use 'is when checking for same or similiar object, NOT the same value

num3 = 55
num4 = num3

if num3 is num4:
    print("This is the equal value")

This is the equal value

##### 'in' keyword

In [8]:
char_name = "Pika chu"

if "Pika" in char_name:
    print("Gotta catch em all...")

Gotta catch em all...

##### 'not in' keyword'

In [10]:
sega_char = "Hello Kitty"

if "a" not in sega_char:
    print("A is not HERE")

A is not HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [12]:
user = "input"

if "p" in user:
    print("P is in here")

P is in here

## Using 'and'/'or' with If Statements

In [31]:
first_name = 'Max'
age = 19

if first_name == 'Max' or age == 10:
    print('My name is Max and I am 10')
elif first_name == 'Max' and age == 10:
    print('I am either Max or I am 10')

My name is Max and I am 10

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
# for item in iterable_thing:
    # do some stuff

name = 'Kat Bas'

print (len(name))

for letter in range(len(name)):
    print(letter)

7
0
1
2
3
4
5
6

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [8]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [14]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [11]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass
#I will come back and finish this part of my code later!

##### Double For Loops

In [15]:
for elephant in range(5):
    for giraffe in range(5):
        print('i = ', elephant, 'j = ', giraffe)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [6]:
# while condition statement (something that is true or false):
# do some stuff repeatedly

#  num = 0
# while True:
#     if num >= 10:
#         break
#     print(num)
#     num +=1
    
while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [14]:
game_running = True
score = 0

# while True:
#     print('Infinite Loop')
#     if game_over == False:
#         break

while game_running:
    user_input = input('Say some stuff') 
    if user_input == 'quit':
        game_running = False 
    print(user_input)
    score += 1
    print(f"Score: {score}")

Say some stuff yo

yo
Score: 1

Say some stuff more

more
Score: 2

Say some stuff okay

okay
Score: 3

Say some stuff stop

stop
Score: 4

Say some stuff quit

quit
Score: 5

##### While & For Loops Used Together

In [16]:
num = 0

while num < 5:
    print("\ While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    num += 1

\ While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
\ While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
\ While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
\ While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
\ While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [19]:
# range(start number, stop #, after how many)
#Defaults: start = 0, stop is REQUIRED, step = 1

for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [20]:
name = 'Max'

length = len(name)
print(length)

3

##### help()

In [21]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [22]:
#isinstance means what object family belongs to, what data type are we messing with

print(isinstance(4.5, int))
if isinstance(4.5, float):
    print('This number is a float type')

False
This number is a float type

##### abs()

In [23]:
# absolute value 

# | 5 |

print(abs(-5))

5

### Try and Except

In [26]:
# Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input('Guess a number '))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your number is: ' + str(input_num))
except:
    print('That did not work - ERROR: Please change your input to a number')

Guess a number  2

Your number is: 2

### Lists

##### Declaring Lists

In [35]:
my_list = [] # empty list

names = ["Max", 'Cindy', 'Nacho', 'Sean', 5, 'Nate']
print(names)

['Max', 'Cindy', 'Nacho', 'Sean', 5, 'Nate']

##### Indexing a List

In [38]:
#starts at 0

#Syntax: list_name[start:stop:step]

print(names[2])

# Print the last value NO MATTER THE SIZE of the list!
print(names[-2])

# Print starting at 1 going to the end
print(names[1:])

#Print starting at beginning of list until whatever index we give it
print(names[:3])

# print from one index to another
print(names[2:4])

# Print starting at index one going up by 2 for each iteration
print(names[1:2])

#Print starting at the end and going down by 1 each time
print (names[::-1])

Nacho
5
['Cindy', 'Nacho', 'Sean', 5, 'Nate']
['Max', 'Cindy', 'Nacho']
['Nacho', 'Sean']
['Cindy']
['Nate', 5, 'Sean', 'Nacho', 'Cindy', 'Max']

##### .append()

In [40]:
names.append('bob')
print(names)

['Max', 'Cindy', 'Nacho', 'Sean', 5, 'Nate', 'Nacho', 'bob']

##### .insert()

In [46]:
names.insert(3,'Gabby')
print(names)

['Max', 'Cindy', 'Nacho', 'Gabby', 'Gabby', 'Sean', 5, 'Nate']

##### .pop()

In [47]:
# default is the last value if no paramater is given
# pop returns the element that was removed in case you want to assign it into a variale

my_name = names.pop()
print(my_name)
print(names)

Nate
['Max', 'Cindy', 'Nacho', 'Gabby', 'Gabby', 'Sean', 5]


##### .remove()

In [50]:
# Value to be removed, not the index

# names.remove(5)
# print(names)

# Remove multiple from list

while 5 in names:
    names.remove('5')
print(names)

['Max', 'Cindy', 'Nacho', 'Gabby', 'Gabby', 'Sean']

##### del()

In [53]:
# Be careful, can cause indexing errors if used improperly
# remove by index

del(names[1])
print(names)

['Max', 'Nacho', 'Gabby', 'Gabby', 'Sean']

##### Concatenating Two Lists

In [54]:
# Never call a list 'list'. Label it 

first_list = [ 0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [56]:
names = ['Sean', 'Kat', 'Nacho', ['Mom', 'Dad', 'Tyke']]
print(names)
print([3])

['Sean', 'Kat', 'Nacho', ['Mom', 'Dad', 'Tyke']]
[3]

##### Looping Through Lists

In [58]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# With a for loop using the index

for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop and in
for name in names:
    print(name)

Sean
Kat
Nacho
['Mom', 'Dad', 'Tyke']
Sean
Kat
Nacho
['Mom', 'Dad', 'Tyke']

## Exercise #1 <br><p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [88]:
for i in range(0, 20):
    print(i, i**3)
    if range == 1000:
        break

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000
11 1331
12 1728
13 2197
14 2744
15 3375
16 4096
17 4913
18 5832
19 6859

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [6]:
age = int(input('Please enter age.'))

if age <= 18:
    print ("Kids")
elif age > 18 and age <= 65:
    print ("adults")
elif age >= 65:
    print ("seniors")

Please enter age. 70

seniors